/* TreeView.scss */

.tree-view {
  display: flex;
  flex-direction: column;

  .tree-node {
    margin-left: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #f9f9f9; /* Light background color for tree nodes */

    &:hover {
      background-color: #e6e6e6; /* Slightly darker background on hover */
    }

    .node-label {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 8px;
      border-radius: 5px;

      .toggle-icon {

        &.open::before {
          content: '▼'; /* Change this to your desired open icon or element */
        }
      
        &.closed::before {
          content: '►'; /* Change this to your desired closed icon or element */
        }

        &.open {
          transform: rotate(90deg);
        }
      }

      &:hover {
        background-color: #dcdcdc; /* Slightly darker background on hover */
      }
    }

    .node-children {
      margin-left: 20px;
    }
  }

  .context-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 5px 0;
        cursor: pointer;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}
